/* About us */
h2 {
  font-family: "Amatic SC";
  color: #f1c40f;
  font-weight: bold;
  text-align: center;
  font-size: 44px;
}

#AboutUs {
  background-color: #e6e6fa;
 }

 p {
   padding: 100px;
   font-size: 20px;
   color: rgb(82, 45, 99);
   font-family: Florence, cursive;
 }

 .about_us {
  display: flex;
  flex-direction: row;
 }

 #group {
  width: 35%;
  height: auto;
 }

 .googleMap {
   padding: 5%;
 }
