<app-header></app-header>
<section id="AboutUs">
  <h2>About Us</h2>

  <div class="about_us">
    <p>
      Welcome in the fantastic world of the <strong> Wild Circus!</strong><br />
      Come with us for an amazing show, take your place to live a magic dream
      and find happiness.<br />
      We are a famous Circus Company since 2014, we made our first show in La
      Loupe and now our success has allowed us to create 12 other Circuses in
      France and 6 in other European's Country.<br />
      Don't wait any longer and join us.
    </p>
    <img
      id="group"
      src="http://vanille63.v.a.pic.centerblog.net/o/f603ed1f.jpg"
      alt="group"
    />
  </div>

  <div class="googleMap">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.0301875504165!2d-0.5630998844633089!3d44.84131857909848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5527cba74d1bdf%3A0xb92bcdcad0920688!2sWild%20Code%20School%2C%20Formation%20d%C3%A9veloppeur%20web%20%26%20data%20analyst!5e0!3m2!1sfr!2sfr!4v1580379944748!5m2!1sfr!2sfr"
      width="100%"
      height="600px"
      frameborder="0"
      style="border:0;"
      allowfullscreen="100%"
    >
    </iframe>
  </div>
</section>
