h2 {
  font-family: "Amatic SC";
  color: #f1c40f;
  font-weight: bold;
  text-align: center;
  font-size: 44px;
}

#main_picture {
  height: auto;
  width: 100%;
}

section {
  padding: 25px 50px 25px 50px;
}

/* performances */
#performances {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li img {
  width: 400px;
  height: auto;
}

li h3 {
  text-align: center;
  font-family: "Amatic SC";
  color: #f1c40f;
  font-weight: bold;
  font-size: 35px;
}

/* About us */
#AboutUs {
  background-color: #e6e6fa;
}

.about_us {
  display: flex;
  flex-direction: row;
}

#group {
  width: 35%;
  height: auto;
}

p {
  font-size: 20px;
  padding: 0 50px;
  color: rgb(82, 45, 99);
  font-family: Florence, cursive;

}
