h2 {
  font-family: "Amatic SC";
  font-weight: bold;
  text-align: center;
  font-size: 44px;
}

.tableReservation {
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  width: 70%;
}
.tableWrapper {
  width: 90%;
  padding: 55px;
  margin: 0 auto;
}



td {
  width: 33%;
}

.trashIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 10px;
  }



